# 신용카드 사기 검출

In [3]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import matplotlib
import warnings

df = pd.read_csv('./credit_card_default/creditcard.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [ ]:
df.describe()

In [ ]:
df.info()

## 데이터 분포 분석

In [24]:
X = df.iloc[:,:-1]
y = df['Class']

In [32]:
# 종속변수의 분포도 확인
y.value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [34]:
(y.value_counts()/len(y))*100

Class
0    99.827251
1     0.172749
Name: count, dtype: float64

* 1값이 0에 비해 너무 적음
* 학습, 테스트 세트로 분활 가정에서 불균형하게 분할될 가능성이 높다.

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, stratify=y, random_state=123)

In [35]:
#분할된 y 값의 분포가 어떻게 되는지 확인
(y_train.value_counts()/len(y_train))*100

Class
0    99.827075
1     0.172925
Name: count, dtype: float64

In [36]:
(y_test.value_counts()/len(y_test))*100

Class
0    99.827955
1     0.172045
Name: count, dtype: float64

## 불균형 데이터 세트로 결정 나무, LightGBM 모델 사용

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from lightgbm import LGBMClassifier
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix, precision_score, recall_score
dt_model = DecisionTreeClassifier()
dt_model = dt_model.fit(X_train, y_train)
dt_yhat = dt_model.predict(X_test)